body {
    background: linear-gradient(
        to bottom,
        rgb(255, 147, 185),
        rgb(248, 134, 164)
    );
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 70;
    pointer-events: none;
}

.petal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px; 
    height: 24px;
    background: #f7b7c8;
    border-radius:70% 70% 70% 10%;
    z-index: 0;
        
    
    animation:
        fall 10s linear infinite,
        sway 4s ease-in-out infinite,
        spin 8s linear infinite;

}

@keyframes fall {
    from {
        top: -50px;
    }

    to {
        top: 110vh;
    }
}

@keyframes sway {
    0% {
        marin-left: 0;
    }

    25% {
        margin-left: 15px;
    }

    50% {
        margin-left: -10px;
    }
    
    75% {
        margin-left: 20px;
    }

    100% {
        margin-left: 0px;
    }

}

@keyframes spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}


#sky {
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}

#letter1 {
    position:absolute;
    top: 10%;
    left: 10%;
}

#letter2 {
    position:absolute;
    top: 10%;
    left: 40%;
}

#letter3 {
    position:absolute;
    top: 10%;
    left: 70%;
}

.envelope {
    width: 400px;
    height: 280px;


    border-radius:  8px;
    border-style: solid;
    border-width: 8px;
    border-color: black;
    z-index: 1;

    transition: 1.5s;

    overflow: visible;
}




.envelope:hover {
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0 0 10px black;
}

.envelope.center {
    transform: translate(var(--moveX), var(--moveY))
    scale(1.2);
    transition: transform 1.5s ease;
}

.envelope.selected {
    z-index: 50;
}

.flap {
    position: absolute;
    width: 384px;
    height: 264px;
    top: 0px;
    left: 8px;

    background: rgb(203, 203, 252);

    clip-path: polygon(
        0 0,
        100% 0,
        50% 50%
    );
    transform-origin: top center;
    transition: transform 1s ease;
    z-index: 2;
    
}

.envelope.fromHer .flap {
    background: rgb(255, 121, 215);
}

.envelope.fromHer .cover{
    background: rgb(255, 121, 215);
}

.envelope.open .flap{
    transform: rotateX(180deg);

}

.flapBorder {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 280px;
    background: black;

    clip-path: polygon(
        0 0,
        100% 0,
        50% 50%
    );

    transform-origin: top center;
    transition: transform 1s ease;
    z-index: 2;

}
.envelope.open .flapBorder{
    transform: rotateX(180deg);

}


.background {
    position: absolute;
    top:0;
    left: 0;
    width: 400px;
    height: 280px;
    background: black;

    clip-path: polygon(
        0 0,
        100% 0,
        50% 50%
    );
    z-index: 0;
}
.cover {
    position: absolute;
    top:0;
    left: 0;
    width: 400px;
    height: 280px;
    background: rgb(203, 203, 252);

    clip-path: polygon(
        0 0,
        50% 50%,
        100% 0,
        100% 100%,
        0 100%

    );
    z-index: 4;

}

.paper {
    position: absolute;
    top: 0;
    width: 400px;
    height: 280px;
    background: #fff5de;
    clip-path: polygon(
        10% 10%,
        90% 10%,
        90% 100%,
        10% 100%
    );
    transition: 
        transform 2s ease .4s,
        transform .8s ease;
    z-index: 1;
    transform-origin: center center;
    
}

.envelope.slide .paper {
    transform: translateY(-250px);
}

.envelope.fullscreen .paper {
   transform: translateY(-100px) scale(2.5);
}

#letterTitle,
#letterBody {
    opacity: 0;
    transition: opacity 3s ease;
}

#letterViewer.visible #letterTitle,
#letterViewer.visible #letterBody {
    opacity: 1;
}

.paper.above {
    z-index: 3;
}

.envelope.fullyAbove .paper {
    z-index: 5;
}

#letterViewer {
    position: absolute;
    top: 3%;
    left: 50%;
    width: 880px;
    height: 700px;
    overflow-y: auto;
    transform: translateX(-50%);
    display: block;
    opacity: 1;
    background-color: #fff5de;
    color: #3B312C;
    padding:40px;
    line-height: 1.7;
    font-family: "EB Garamond", serif;
    font-size:larger;
    border-radius: 12px;
    box-shadow: 0 0 10px black;
    z-index: 100;
    
    
}

#letterViewer.hidden {
    display: none;
}

#letterViewer::-webkit-scrollbar {
    width: 10px;
}

#letterViewer::-webkit-scrollbar-track {
    background-color: #fff5de;
}

#letterViewer::-webkit-scrollbar-thumb {
    background-color: #ddd7c7;
}

#backButton {
    position: absolute;
    top: -50px;
    left: -50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-color: pink;

    background: #f7d9e1;
    cursor: pointer;

    transition: 1s;

}

#backButton span {
    position: absolute;
    top: 60px;
    left: 60px;
    size: 30px;
    color:  rgb(248, 134, 164);
    opacity: 0;

}

#backButton:hover {
    transform: scale(1.75);
    box-shadow: 0 0 20px #ebeaea;
}

#backButton:hover span{
    opacity: 1;
}